*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
h1 span:nth-child(1){
    color:rgb(212, 37, 37) ;
}
h1 span:nth-child(2){
    color: rgb(60, 124, 70);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
   width: 400px;
   height: 300px;
    border: 1px solid grey;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.226);
    border-radius: 8px;
}
.text{
    margin-bottom: 3rem;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    margin-top: 5rem;
}
button{
    padding: 0.5rem 1.5rem;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.308);
}
button:hover{
    transform: translateY(-5%);
}

button.remove{
    background-color: rgb(212, 37, 37);
}
button.add{
    background-color: rgb(60, 124, 70);
}
